*{
    list-style: none;
    margin: 0;
    padding: 0;
}
section{
    max-width: 100%;
    padding: 25px;   
}
footer{
    max-width: 100%;
    padding: 25px;
}

video{
    width: 100px;
    height: 100px;
}

#Social_media > h3{
    display: none;
}

#other > ul{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#other > ul > li{
    min-width: 20%;
}

#other > ul > li ul li, #other > ul > li > h4{
    padding: 5px;
}