@media (max-width: 770px) {

    header > section:last-child {
        padding: 2vh 5vw 2vh 5vw;
        justify-content: space-between;
    }

    .navbar{
        flex-direction: column;
    }

    .new-navbar li{
        padding: 3px 0;
    }

    .search{
        width: 80%;
    }

    .button{
        display: flex;
    }

    .about,
    .form {
        display: none; 
    }

    .form {
        padding: 1%;
        width: 80%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 2vh;
        margin-bottom: 4vh;
    }

    .form > form{
        width: 75%;
    }

    input[type="submit"], input[type="email"]{
        padding: 1.5vh 1vh;
    }

    input[type="submit"]{
        width: 30%;
    }

    .list-right>ul {
        height: 80%;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around
    }

    .content>.posts {
        max-width: 100%;
    }

    .posts-right,
    .posts-left {
        max-width: 50%;
    }

    div.slider-caption {
        margin-bottom: 10px;
    }

    div.slider-caption>h1,
    div.slider-caption>h2 {
        font-size: 1.8rem;
        padding: 5px 0;
    }
}

@media (max-width: 450px){

    .post > h3{
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    div.slider-caption p {
        font-size: 0.8rem;
    }

    div.slider-caption>h1, div.slider-caption>h2 {
        font-size: 1.4rem;
        padding: 3px 0;
    }

    section.captioned-gallery{
        height: 28vh;
    }

    figure.slider {
        animation: none;
        height: 100%;
    }

    .content{
        max-width: 95vw;
    }

    .headline{
        width:40vh;
    }

    .headline > h3{
        font-size: 1.5rem;
    }

    input[type="submit"], input[type="email"]{
        padding: 1vh 1vh;
    }

    .photos-left, .photos-right {
        width: 100% !important;
    }
    .list-left > p:last-child {
        text-align: right;
    }
}

@media (max-width: 912px){

    .tags > a::after {
        font-size: 20px;
        margin: 0 3px 0 3px;
    }

}